/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 0px;
    padding-bottom: 20px;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.logo {
    font-family: "Coda";
    font-size: 1.8em;
    font-weight: bold;
}

    .logo > a {
        color: #ddd;
        text-decoration: none;
        transition-duration: 0.5s;
    }

        .logo > a:hover {
            color: #fff;
            transition: ease;
            text-decoration: none;
            transition-duration: 0.5s;
        }

.page-content {
    padding: 20px;
    margin: 10px auto;
}

.page-heading {
    color: #e9e8e7;
}


.card-icon {
    color: #777;
    font-size: 40px;
    padding: 24px;
    -webkit-border-radius: 1100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
    vertical-align: middle;
    width: 60px;
    height: 60px;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.icon-wrapper {
    display: table-cell;
}

.demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
}

.demo-card-square > .mdl-card__title {
    color: #fff;
}


#itemTitle {
    font-size: 2.0em;
}


.homeLabel {
    background-color: rgba(0,0,0,0.3);
    padding: 4px;
}


#IndexTable {
    font-size: 1.3em;
}

#IndexTable td {
   vertical-align: middle;    

}

#IndexTable tr:hover {
  background-color: #eee;
}


#assets {
    margin: 0 auto;
}

.customTable td {
    text-align: left;
    font-size: 1.2em;
}

.strongTd {
    font-weight: bold;
}

.customTable th {
    text-align: left;
    color: black;
    font-size: 1.3em;
}

.imageCell {
    width: 180px;
}

.vehicleImageCell {
    width: 90px;
}

.profileCell {
    width: 30px;
    height: 30px;
}


.cityImageCell {
    width: 200px;
}


#assetsTable td {
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.authorLabel {
    font-weight: bold;
    font-size: 1.3em;
}

.titleLabel {
    font-weight: bold;
    font-size: 1.3em;
}



#itemMake {
    font-size: 1.2em;
}

#itemModel {
    font-size: 1.2em;
}

#itemBody {
    font-size: 1.2em;
}

#itemPassenger {
    font-size: 1.2em;
}


#itemBag {
    font-size: 1.2em;
}

#itemStatus {
    font-size: 1.2em;
}

#itemPatron {
    font-size: 1.2em;
}


#itemLCheckout {
    font-size: 1.2em;
}


#itemVIN {
    font-size: 1.2em;
}

#itemLocation {
    font-size: 1.2em;
}


#itemPrice {
    font-size: 1.2em;
}


#itemOption {
    font-size: 1.2em;
}

.itemLabel {
    font-weight: bold;
    font-size: 0.9em;
}


.itemValue {
    text-align: right;
    font-size: 0.8em;
}

.availability {
    padding-top: 20px;
    font-size: 1.2em;
}

.detailImage {
    width: 300px;
    padding-bottom: 6px;
}


.patronDetailImage {
    width: 300px;
    padding-bottom: 10px;
}

.branchImageContainer {
    text-align: center;
}

.branchDetailImage {
    width: 400px;
    padding-bottom: 30px;
}

.detailInfo {
    padding: 10px;
    font-size: 1.3em;
    color: #555;
}

.detailHeading {
    padding: 10px;
}

#branchDescription {
    width: 500px;
    padding: 18px 0 12px 4px;
}

.branchContact {
    padding: 12px 0 16px 0;
    font-size: 1.2em;
}

#patronHasFees {
    font-size: 1.2em;
    color: #c62222;
}

#patronNoFees {
    font-size: 1.2em;
}




